<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>{$pageTitle} :: {$curPageTitle}</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="style.js"></script>
</head>
<body>
	<div id="container">
		<div id="header">
			<img src="" alt="{$pageTitle} logo" /><h1>{$pageTitle}</h1>
		</div>
		<ul id="menu">
			<li><a href="#" class="actual">Home</a></li>
			<li><a href="#">Impressum</a></li>
		</ul>
		<div id="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, lectus vitae semper fermentum, sapien purus pellentesque ipsum, quis viverra erat ipsum sed ipsum. Pellentesque gravida neque porta ipsum porta quis tempor erat pellentesque. Vestibulum dui augue, consectetur vel porttitor nec, hendrerit sollicitudin quam. Nunc blandit, nulla ut euismod congue, enim risus consequat velit, et sollicitudin augue nulla id risus. Suspendisse quam libero, aliquam sit amet aliquet non, molestie ut nisl. Phasellus auctor, nulla id tempor congue, lorem erat viverra risus, ut condimentum leo ante in mauris. Suspendisse sed ligula sapien. Nunc eget nulla tellus. Etiam aliquet euismod posuere. In hac habitasse platea dictumst. Sed eget sem vitae nunc ultricies fringilla ultrices ac ipsum. Integer ultricies varius ante quis suscipit. Phasellus cursus porta sapien eget sagittis. Ut et dui vel erat tincidunt suscipit tincidunt quis risus.</p>

			<p>Aliquam egestas neque et felis rutrum molestie. Cras nec diam sed magna egestas porttitor. Integer ac tellus ante. Praesent enim eros, molestie vitae congue a, aliquam at diam. Integer dapibus tempor sollicitudin. Sed ac eros nisl, quis laoreet nulla. Nulla eu dui dapibus ligula gravida dapibus at eget urna. Donec lobortis semper diam, et blandit ante cursus id. Aliquam erat volutpat. Cras venenatis tempor tellus, in sodales elit mattis vitae. Nam pharetra consectetur lorem, vel sagittis urna blandit vitae.</p>

			<p>Morbi feugiat scelerisque lacinia. Pellentesque a mattis augue. Phasellus eget mi eu dui ultricies congue eget ut nulla. Cras semper justo at neque egestas hendrerit. Phasellus fermentum sagittis justo vel pulvinar. Suspendisse ut ornare mi. Fusce sed erat et massa ultrices pharetra ut quis neque. Vivamus ante ligula, cursus at varius eget, interdum sed eros. Praesent dui est, fermentum vitae auctor feugiat, luctus eu metus. Mauris commodo lorem mollis neque condimentum in fermentum nunc semper. Sed id eros mi, a facilisis sapien.</p>

			<p>Proin sem nulla, dignissim at feugiat et, sagittis vel elit. Nam vel tortor libero, id consectetur lorem. Morbi lorem quam, faucibus ut elementum ut, blandit non nulla. Vestibulum leo augue, fermentum posuere viverra vitae, lobortis eget dolor. Nullam viverra enim ac odio blandit at adipiscing odio adipiscing. Fusce nec erat a arcu blandit varius. Aliquam egestas sollicitudin purus at faucibus. Phasellus feugiat sapien vel neque accumsan et mattis magna aliquet. Praesent interdum adipiscing lacinia. Etiam in velit ligula. Morbi tempor, lectus id eleifend ullamcorper, risus mauris lobortis lorem, a varius nibh ipsum vel metus.</p>

			<p>Vestibulum at libero ligula, a iaculis mi. Maecenas nisl velit, tempor a hendrerit in, feugiat quis urna. Fusce justo libero, facilisis eu varius in, elementum id mauris. Integer eget lacus ligula. Proin tempus aliquam bibendum. Nam vitae risus tortor. Nulla auctor sem in purus elementum lobortis. Nullam turpis orci, porta egestas elementum quis, mollis eget eros. Nullam felis augue, lobortis ac rhoncus non, aliquet quis purus. Praesent pharetra, nisi ac molestie congue, ante neque accumsan magna, nec pulvinar orci lorem eget est. Maecenas vitae metus justo. Suspendisse potenti. Vivamus fringilla consectetur ultricies. Integer massa metus, pharetra quis convallis ac, rutrum sed lectus. Nunc a nisi sit amet neque malesuada interdum. Pellentesque dapibus luctus leo at bibendum. Proin hendrerit metus id odio cursus at consequat mauris venenatis. Phasellus vulputate egestas sagittis. In dignissim turpis vehicula ligula fringilla sed tempor felis rutrum. </p>
		</div>
		<div id="footer">
			<p>Powered by aoxPages, Copyright &copy; 2010 by <a href="http://www.alopix.net/">Dustin Steiner</a> <a href="http://code.google.com/p/php-outline/wiki/Syntax">http://code.google.com/p/php-outline/wiki/Syntax</a></p>
		</div>
	</div>
</body>
</html>